__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/
docs/build/
.DS_Store
Data_Validate/Default/parameters.txt
Data_Validate/Default/parameters.txt
Data_Validate/Flat/parameters.txt
Data_Validate/Flat/parameters.txt
Data_Validate/Default/parameters.txt
